<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <title>Let's Do It!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <h1>Welcome to Let's Do It!</h1>
    <h3>Log in here!</h3>
    {% if messages %}
    <ul class="text-danger">
        {% for msg in messages %}
        <li> {{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/login_user" method="POST" class="user_form" id="login_form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class='password' >
        </div>
        <img src="{% static 'images/eye_icon.png' %}" id="pw_eye"/>
        <button>Submit</button>
    </form>
    <p>First Time here? Head over <a href="/registration">here</a> to register!</p>
</body>
</html>