#pw_eye {
    width: 30px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}
.user_form {
    width: 30%;
}
.form-group {
    display: flex;
    justify-content: space-between;
}
.task_form {
    width: 40%;
}
